.index{
  background: #F8F8F8;
  .nut-tab-pane{
    padding: 0px;
    background: transparent;
  }
  .nut-tabs__titles{
    background: #fff;
  }
  .shop-list{
    padding: 22px 20px;
    background: #fff;
    box-sizing: border-box;
  }
  .nut-card__left{
    img{
      border-radius: 5px;
    }
  }
}