page{
	height: 100%;
}
// menu
.menu{
	padding-left: 8px;
	padding-right: 8px;
	font-size: 14px;
	display: flex;
	width: 17%;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	img{
		width: 20px;
    height: 16px;
		padding-left: 5px;
	}
  .arrow-up {
    transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: scale(1,-1);
  }
}
.home-header{
	z-index: 99;
	position: absolute;
	top: 0px;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 15px 0px;
  .qrcode{
		background-image: url(../../assets/resource/home/qrcode.svg);
		background-size: 25px 25px;
		background-repeat: no-repeat;
		margin-left: 5px;
		margin-right: 5px;
		width: 10%;
		height: 35px;
		line-height: 35px;
		background-position: center 8px;
	}
	.search-wrapper{
		width: 70%;
		.nut-searchbar{
			padding: 10px 3px;
		}
		.nut-searchbar__search-input{
			border: 1px solid rgba(255,255,255,.6);
		}
		.nut-searchbar__search-input .nut-searchbar__input-inner .h5-input {
			min-width: none;
		}
		.input-placeholder{
			color: #fff;
		}
	}
}
.home-content{
	.nut-tabs__titles{
		background: #fff;
	}
}
.home{
	//#1677ff
	.nut-fixed-nav__btn{
		background: linear-gradient(315deg, rgb(73, 143, 242) 0%, rgb(73, 101, 242) 100%);
	}
}